<template id="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Webduino Blockly Demo 0A</title>
  <script src="dist/lib/webduino-all.min.js"></script>
  <script src="dist/MessageTransport.min.js"></script>
  <script src="dist/webduino-blockly.min.js"></script>
  <script src="dist/lib/runtime.min.js"></script>
  <script src="dist/lib/echarts.min.js"></script>
  <script src="dist/api.min.js"></script>
</template>
<template id="css">
html,body{
  font-family:'Verdana';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#demo-area-10-content {
  width:320px;
  height:240px;
</template>
<template id="body">
  <div id="demo-area-10" class="da">
    <div id="demo-area-10-content"></div>
  </div>
</template>
